.navbar{
    font-family: 'Montserrat', sans-serif;
}

.nav-item a{
    color: rgba(80, 82, 78, 100);
}

.nav-item a:hover{
    color: grey;
}

.active-link{
    color: red;
}

.navToggler{
    background-color: rgba(240, 240, 240, 100) !important;
    color: red !important;
    &:hover{
        transform: scale(1.1);
        background-color: rgba(240, 240, 240, 100) !important;
    }
}

.loginBtn{
    color: rgba(80, 82, 78, 100) !important;
    background-color: rgba(240, 240, 240, 100) !important;
    border: none !important;
    &:hover{
        color: rgba(80, 82, 78, 100) !important;
        background-color: rgba(240, 240, 240, 100) !important;
        transform: scale(1.1);
    }
}
