.homeCard{
    transition: transform .5s ease-in-out;
}

.homeCard:hover{
    transform: scale(1.1);
}

.card img{
    height: 200px !important;
}

.firstWord{
    border-bottom: solid 4px rgba(65, 127, 86, 100);
}

h3{
   font-family: 'Yellowtail', cursive; 
}

h5{
    color: black !important;
    font-family: 'Montserrat', sans-serif;
}