p{
    font-family: 'Montserrat', sans-serif;
}


.card-title{
    color: #574AE2;
    font-family: 'Montserrat', sans-serif;
}

.shopCard{
    width: 16rem;
    background-image: linear-gradient(white, rgba(241, 255, 244, 100));
}

.orderBtn{
    background-color: rgba(65, 127, 86, 100) !important;
    color: white !important;
    transition: transform .5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 28%;
    border-radius: 15px !important;
    &:focus, &:hover{
        box-shadow: none !important;
        transform: scale(1.1);
        background-color: rgba(65, 127, 86, 100) !important;
        color: white !important;
    }
    &:active{
        background-color: rgba(241, 255, 244, 100) !important;
        color: black !important;
    }
  }
