.jumbotron{
    background-color: rgba(241, 255, 244, 100) !important;
    color: rgba(80, 82, 78, 100);
    border-radius: 20px !important;
}

.subscribe{
    color: rgba(80, 82, 78, 100) !important;
    background-color: rgba(240, 240, 240, 100) !important;
    border: none !important;
    &:hover, &:active, &:focus{
        color: rgba(80, 82, 78, 100) !important;
        background-color: rgba(240, 240, 240, 100) !important;
        transform: scale(1.1);
        box-shadow: none !important;
    }
}

.h3{
    color: black !important;
}

.h6{
    color: grey !important;
}