h3{
    color: #654597;
}

p{
  color:  black;
}

form{
    background-color: white;
    border-radius: 2rem;
    font-family: 'Montserrat', sans-serif;
}

form input, form label, form select{

  margin-bottom: 1rem;

}

label{
    color: black;
}

input{
    transition: transform .5s ease-in-out;
    &:focus{
      transform: scale(1.1);
    }
}

.submitBtn{
  background-color: rgba(65, 127, 86, 100) !important;
  color: white !important;
  transition: transform .5s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px !important;
  &:focus, &:hover{
      box-shadow: none !important;
      transform: scale(1.1);
      background-color: rgba(65, 127, 86, 100) !important;
      color: white !important;
  }
}

.form-group{
  margin-bottom: 0 !important;
}

.total span{
  color: white !important;
}

.modal-title{
  margin-left: auto !important;
  margin-right: auto !important;
}

.modal-body{
  text-align: center !important;
  color: black !important;
}

.modal-footer Button{
  margin-left: auto !important;
  margin-right: auto !important;
}